# Firebase Client Configuration (BaaS for Auth, Firestore, Storage)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBN68Y6_n-xxFIB74OuvEtp0lFhPhY9gGI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=jobroofs-321c7.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=jobroofs-321c7
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=jobroofs-321c7.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=960773392367
NEXT_PUBLIC_FIREBASE_APP_ID=1:960773392367:web:c7cb340bf0b0964cbc981a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-HQ5MDN7Z6P
